@model NaviGate.Web.Models.Port

@{
    ViewData["Title"] = "Liman Düzenle";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PortId" />
            <div class="form-group">
                <label asp-for="PortName" class="control-label"></label>
                <input asp-for="PortName" class="form-control" />
                <span asp-validation-for="PortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortCode" class="control-label"></label>
                <input asp-for="PortCode" class="form-control" />
                <span asp-validation-for="PortCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">İptal</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
